<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preprocessor Page</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Tektur:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <div id="header-img-main"></div>
            <nav id="header-nav">
                <a class="header-nav-button" id="header-nav-home" href="index.html">
                    <span>Home</span>
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0%" y="-44" width="4.5%" height="44" />
                        <rect x="4%" y="-44" width="4.5%" height="44" />
                        <rect x="8%" y="-44" width="4.5%" height="44" />
                        <rect x="12%" y="-44" width="4.5%" height="44" />
                        <rect x="16%" y="-44" width="4.5%" height="44" />
                        <rect x="20%" y="-44" width="4.5%" height="44" />
                        <rect x="24%" y="-44" width="4.5%" height="44" />
                        <rect x="28%" y="-44" width="4.5%" height="44" />
                        <rect x="32%" y="-44" width="4.5%" height="44" />
                        <rect x="36%" y="-44" width="4.5%" height="44" />
                        <rect x="40%" y="-44" width="4.5%" height="44" />
                        <rect x="44%" y="-44" width="4.5%" height="44" />
                        <rect x="48%" y="-44" width="4.5%" height="44" />
                        <rect x="52%" y="-44" width="4.5%" height="44" />
                        <rect x="56%" y="-44" width="4.5%" height="44" />
                        <rect x="60%" y="-44" width="4.5%" height="44" />
                        <rect x="64%" y="-44" width="4.5%" height="44" />
                        <rect x="68%" y="-44" width="4.5%" height="44" />
                        <rect x="72%" y="-44" width="4.5%" height="44" />
                        <rect x="76%" y="-44" width="4.5%" height="44" />
                        <rect x="80%" y="-44" width="4.5%" height="44" />
                        <rect x="84%" y="-44" width="4.5%" height="44" />
                        <rect x="88%" y="-44" width="4.5%" height="44" />
                        <rect x="92%" y="-44" width="4.5%" height="44" />
                        <rect x="96%" y="-44" width="4.5%" height="44" />
                    </svg>
                </a>
                <a class="header-nav-button" id="header-nav-news" href="#" hx-get="news.html" hx-select=".main" hx-target="main">
                    <span>News</span>
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0%" y="-44" width="4.5%" height="44" />
                        <rect x="4%" y="-44" width="4.5%" height="44" />
                        <rect x="8%" y="-44" width="4.5%" height="44" />
                        <rect x="12%" y="-44" width="4.5%" height="44" />
                        <rect x="16%" y="-44" width="4.5%" height="44" />
                        <rect x="20%" y="-44" width="4.5%" height="44" />
                        <rect x="24%" y="-44" width="4.5%" height="44" />
                        <rect x="28%" y="-44" width="4.5%" height="44" />
                        <rect x="32%" y="-44" width="4.5%" height="44" />
                        <rect x="36%" y="-44" width="4.5%" height="44" />
                        <rect x="40%" y="-44" width="4.5%" height="44" />
                        <rect x="44%" y="-44" width="4.5%" height="44" />
                        <rect x="48%" y="-44" width="4.5%" height="44" />
                        <rect x="52%" y="-44" width="4.5%" height="44" />
                        <rect x="56%" y="-44" width="4.5%" height="44" />
                        <rect x="60%" y="-44" width="4.5%" height="44" />
                        <rect x="64%" y="-44" width="4.5%" height="44" />
                        <rect x="68%" y="-44" width="4.5%" height="44" />
                        <rect x="72%" y="-44" width="4.5%" height="44" />
                        <rect x="76%" y="-44" width="4.5%" height="44" />
                        <rect x="80%" y="-44" width="4.5%" height="44" />
                        <rect x="84%" y="-44" width="4.5%" height="44" />
                        <rect x="88%" y="-44" width="4.5%" height="44" />
                        <rect x="92%" y="-44" width="4.5%" height="44" />
                        <rect x="96%" y="-44" width="4.5%" height="44" />
                    </svg>
                </a>
                <!-- <a class="header-nav-button" id="header-nav-tournament" href="#" hx-get="tournament.html" hx-select=".main" hx-target="main">
                    <span>Tournament</span>
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0%" y="-44" width="4.5%" height="44" />
                        <rect x="4%" y="-44" width="4.5%" height="44" />
                        <rect x="8%" y="-44" width="4.5%" height="44" />
                        <rect x="12%" y="-44" width="4.5%" height="44" />
                        <rect x="16%" y="-44" width="4.5%" height="44" />
                        <rect x="20%" y="-44" width="4.5%" height="44" />
                        <rect x="24%" y="-44" width="4.5%" height="44" />
                        <rect x="28%" y="-44" width="4.5%" height="44" />
                        <rect x="32%" y="-44" width="4.5%" height="44" />
                        <rect x="36%" y="-44" width="4.5%" height="44" />
                        <rect x="40%" y="-44" width="4.5%" height="44" />
                        <rect x="44%" y="-44" width="4.5%" height="44" />
                        <rect x="48%" y="-44" width="4.5%" height="44" />
                        <rect x="52%" y="-44" width="4.5%" height="44" />
                        <rect x="56%" y="-44" width="4.5%" height="44" />
                        <rect x="60%" y="-44" width="4.5%" height="44" />
                        <rect x="64%" y="-44" width="4.5%" height="44" />
                        <rect x="68%" y="-44" width="4.5%" height="44" />
                        <rect x="72%" y="-44" width="4.5%" height="44" />
                        <rect x="76%" y="-44" width="4.5%" height="44" />
                        <rect x="80%" y="-44" width="4.5%" height="44" />
                        <rect x="84%" y="-44" width="4.5%" height="44" />
                        <rect x="88%" y="-44" width="4.5%" height="44" />
                        <rect x="92%" y="-44" width="4.5%" height="44" />
                        <rect x="96%" y="-44" width="4.5%" height="44" />
                    </svg>
                </a> -->
                <a class="header-nav-button" id="header-nav-info" href="#" hx-get="info.html" hx-select=".main" hx-target="main">
                    <span>Info</span>
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0%" y="-44" width="4.5%" height="44" />
                        <rect x="4%" y="-44" width="4.5%" height="44" />
                        <rect x="8%" y="-44" width="4.5%" height="44" />
                        <rect x="12%" y="-44" width="4.5%" height="44" />
                        <rect x="16%" y="-44" width="4.5%" height="44" />
                        <rect x="20%" y="-44" width="4.5%" height="44" />
                        <rect x="24%" y="-44" width="4.5%" height="44" />
                        <rect x="28%" y="-44" width="4.5%" height="44" />
                        <rect x="32%" y="-44" width="4.5%" height="44" />
                        <rect x="36%" y="-44" width="4.5%" height="44" />
                        <rect x="40%" y="-44" width="4.5%" height="44" />
                        <rect x="44%" y="-44" width="4.5%" height="44" />
                        <rect x="48%" y="-44" width="4.5%" height="44" />
                        <rect x="52%" y="-44" width="4.5%" height="44" />
                        <rect x="56%" y="-44" width="4.5%" height="44" />
                        <rect x="60%" y="-44" width="4.5%" height="44" />
                        <rect x="64%" y="-44" width="4.5%" height="44" />
                        <rect x="68%" y="-44" width="4.5%" height="44" />
                        <rect x="72%" y="-44" width="4.5%" height="44" />
                        <rect x="76%" y="-44" width="4.5%" height="44" />
                        <rect x="80%" y="-44" width="4.5%" height="44" />
                        <rect x="84%" y="-44" width="4.5%" height="44" />
                        <rect x="88%" y="-44" width="4.5%" height="44" />
                        <rect x="92%" y="-44" width="4.5%" height="44" />
                        <rect x="96%" y="-44" width="4.5%" height="44" />
                    </svg>
                </a>
                <a class="header-nav-button" id="header-nav-register" href="register.html">
                    <span>Register</span>
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0%" y="-44" width="4.5%" height="44" />
                        <rect x="4%" y="-44" width="4.5%" height="44" />
                        <rect x="8%" y="-44" width="4.5%" height="44" />
                        <rect x="12%" y="-44" width="4.5%" height="44" />
                        <rect x="16%" y="-44" width="4.5%" height="44" />
                        <rect x="20%" y="-44" width="4.5%" height="44" />
                        <rect x="24%" y="-44" width="4.5%" height="44" />
                        <rect x="28%" y="-44" width="4.5%" height="44" />
                        <rect x="32%" y="-44" width="4.5%" height="44" />
                        <rect x="36%" y="-44" width="4.5%" height="44" />
                        <rect x="40%" y="-44" width="4.5%" height="44" />
                        <rect x="44%" y="-44" width="4.5%" height="44" />
                        <rect x="48%" y="-44" width="4.5%" height="44" />
                        <rect x="52%" y="-44" width="4.5%" height="44" />
                        <rect x="56%" y="-44" width="4.5%" height="44" />
                        <rect x="60%" y="-44" width="4.5%" height="44" />
                        <rect x="64%" y="-44" width="4.5%" height="44" />
                        <rect x="68%" y="-44" width="4.5%" height="44" />
                        <rect x="72%" y="-44" width="4.5%" height="44" />
                        <rect x="76%" y="-44" width="4.5%" height="44" />
                        <rect x="80%" y="-44" width="4.5%" height="44" />
                        <rect x="84%" y="-44" width="4.5%" height="44" />
                        <rect x="88%" y="-44" width="4.5%" height="44" />
                        <rect x="92%" y="-44" width="4.5%" height="44" />
                        <rect x="96%" y="-44" width="4.5%" height="44" />
                    </svg>
                </a>
            </nav>
        </header>
        <main>
            <div class="img-decoration-top-left"></div>
            <div class="img-decoration-bottom-right"></div>
            <section id="home-greetings">
                <h1>Welcome to BeamNG <br> HypeRacing Team!</h1>
            </section>
            <article id="home-gallery">
                <h2>Gallery</h2>
                <div class="home-gallery-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/card1.png" alt="" width="100%"> 
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card2.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card3.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card4.png" alt="" width="100%"> 
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card5.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card1.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card2.png" alt="" width="100%"> 
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card3.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card4.png" alt="" width="100%">
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/card5.png" alt="" width="100%"> 
                        </div>
                    </div>
                </div>
            </article>
            <section id="home-text">
                <h2>A little about who we are and what we do</h2>
                <h3>Who are we</h3>
                <p style="padding: 1%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса.

                    С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                <h3>What do we do</h3>
                <p style="padding: 1%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса.

                    С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
            </section>
            <article id="home-mods">
                <h2>Community mods</h2>
                <p style="padding: 1%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса.

                    С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                <div class="home-mods-main">
                    <div class="home-mods-part">
                        <div class="home-mods-part-text">
                            <p style="padding: 2.5%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса. С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                            <input type="button" value="View more">
                        </div>
                        <div class="home-mods-part-img">
                            <img src="./assets/mods.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="home-mods-part">
                        <div class="home-mods-part-text">
                            <p style="padding: 2.5%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса. С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                            <input type="button" value="View more">
                        </div>
                        <div class="home-mods-part-img">
                            <img src="./assets/mods.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="home-mods-part">
                        <div class="home-mods-part-text">
                            <p style="padding: 2.5%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса. С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                            <input type="button" value="View more">
                        </div>
                        <div class="home-mods-part-img">
                            <img src="./assets/mods.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="home-mods-part">
                        <div class="home-mods-part-text">
                            <p style="padding: 2.5%;">Моды для игры BeamNG Drive - это дополнительные файлы, которые позволяют расширить функционал и улучшить графику игры. Они созданы сообществом игроков и разработчиков и представляют собой различные модификации, добавляющие новые автомобили, карты, физику, звуки и другие элементы игрового процесса. С помощью модов можно создавать уникальные сценарии и экспериментировать с различными настройками, что делает игру еще более увлекательной и разнообразной. Кроме того, моды позволяют вносить изменения в уже существующие автомобили и карты, делая их более реалистичными и интересными.</p>
                            <input type="button" value="View more">
                        </div>
                        <div class="home-mods-part-img">
                            <img src="./assets/mods.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </article>
        </main>
        <footer>
            <nav>
                <div class="footer-nav-logo">
                    <img id="footer-logo" src="./assets/dc3dc0fba5a1476c8e0cd10c83b66247-free-Photoroom.png" alt="">
                </div>
                <div class="footer-nav-contacts">
                    <ul id="footer-nav-contacts-ul">
                        <li id="footer-nav-contacts-email">
                            <span>info@beamng.gmbh</span>
                        </li>
                        <li id="footer-nav-contacts-address">
                            <span>Domshof 17 Bremen Germany</span>
                        </li>
                        <li id="footer-nav-contacts-phone">
                            <span>+49 421 40 89 43 90</span>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav-socialMedia-main">
                    <a class="footer-nav-socialMedia" href="">
                        TG
                    </a>
                    <a class="footer-nav-socialMedia" href="vk.com/beamng">
                        VK
                    </a>
                    <a class="footer-nav-socialMedia" href="discord.gg/YKcSWAy">
                        DS
                    </a>
                    <a class="footer-nav-socialMedia" href="github.com/BeamNG">
                        Github
                    </a>
                </div>
            </nav>
        </footer>
        <script src="script.js"></script>
</body>
</html>