$text-color-1:black;
$text-color-2:rgb(150, 150, 150);
$text-color-3:white;
$background-color-1:rgba(255, 255, 255, 0.15);
$accent-color:rgb(220, 0, 0);

@function font_size_settings($min_font, $coef){
  @return calc($min_font + $coef);
}

@mixin text_adjustable($min_font, $coef, $text_color){
  font-size: font_size_settings($min_font, $coef);
  color: $text_color;
}
@mixin flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  padding: 0;
  margin: 0;
  font-family: "Tektur", serif;
  font-style: normal;
  font-weight: 200;
}
main {
  width: 100%;
  height: 100%;
  @include flex_center();
  background-image: url(./assets/reg_fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
h1{
  @include text_adjustable(2em, 3vw, $text-color-1);
  font-weight:500;
}
a{
  text-decoration: none;
  @include text_adjustable(0.8em, 0.2vw, $text-color-1);
  &:hover, &:active, &:focus{
    color: $text-color-3;
  }
}
.reg-form-main{
  flex-direction: column;
  width: 30%;
  min-width: 400px;
  height: 100vh;
  @include flex_center();
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); 
  background-color: $background-color-1;
  backdrop-filter: blur(10px);
}
.reg-form-name, .reg-form-email, .reg-form-password, .reg-form-info{
  @include flex_center();
  flex-direction: column;
  width: 100%;
  height: 5%;
  margin-top: 1vh;
}
.reg-form-button{
  @include flex_center();
  flex-direction: column;
  width: 100%;
  height: 8.5%;
  margin-top: 1vh;
}
.reg-form-input{
  height: 100%;
  width: 80%;
  border-radius: 10px;
  outline: 0;
  border: none;
  &:hover{
      border: 2px solid $accent-color;
  }
  &:active{
      border: 2px solid $accent-color
  }
  &:focus{
      border: 2px solid $accent-color;
  }
}
.reg-form-button-main{
  display: flex;
  width: 50%;
  height: 100%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  background-color: $accent-color;
  color: $text-color-1;
  font-size: calc(0.8em + 0.3vw);
  &:hover, &:active, &:focus{
    background-color: $background-color-1;
    color: $text-color-3;
    border: 2px solid $accent-color;
  }
}