@use "sass:map";

$text-color-1:white;
$text-color-2:rgb(180, 180, 180);
$background-color-1:rgb(23, 23, 23);
$background-color-2:rgb(68, 68, 68);
$background-color-3:rgb(30, 30, 30);
$accent-color:rgb(220, 0, 0);

$bg_array_color: ("bg1": rgb(23, 23, 23), "bg2": rgb(68, 68, 68), "bg3": rgb(30, 30, 30), "ac": rgb(220, 0, 0));

@function font_size_settings($min_font, $coef){
  @return calc($min_font + $coef);
}
@function select_bg_color($bg_color_index){
  @each $bg_name_color, $bg_color in $bg_array_color{
    @if $bg_name_color == $bg_color_index{
      @return $bg_color;
    }
  }
}

@mixin set_bg_color($bg_color_index){
  background-color: select_bg_color($bg_color_index);
}
@mixin text_adjustable($min_font, $coef, $text_color){
  font-size: font_size_settings($min_font, $coef);
  color: $text_color;
}
@mixin input_button_adjustable($el_width, $el_height, $el_color, $bg_el_color, $el_font_size){
    background-color: $el_color;
    width: $el_width;
    height: $el_height;
    border-radius: 10px;
    border: none;
    font-size: $el_font_size;
    &:hover, &:active, &:focus{
      border: 2px solid $el_color;
      background-color: $bg_el_color;
      color: $text-color-1;
    } 
}
@mixin flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Tektur", serif;
  font-style: normal;
  font-weight: 200;
}

h1{
  @include text_adjustable(2em, 3vw, $text-color-1)
}
h2{
  border-bottom: 4px solid $accent-color;
  width: 100%;
  @include text_adjustable(1.25em, 1.25vw, $text-color-1)
}
h3{
  padding: 1%;
  @include text_adjustable(0.9em, 0.7vw, $text-color-1)
}
p{
  @include text_adjustable(0.7em, 0.2vw, $text-color-2)
}
span{
  @include text_adjustable(0.8em, 0.2vw, $text-color-1)
}
a{
  text-decoration: none;
  @include text_adjustable(0.8em, 0.2vw, $text-color-1)
}
ul{
  list-style-type: none;
  color: $text-color-2;
}

body{
  @include flex_center();
  width: 100%;
  flex-direction: column;
  @include set_bg_color("bg1")
}

header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
#header-img-main{
  height: 95%;
  background-image: linear-gradient(to top, $background-color-2 0.25%, rgba(255, 255, 255, 0)), url(./assets/header_fon.jpg);
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
}
#header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6%;
  @include set_bg_color("bg2");
}
.header-nav-button{
  @include flex_center();
  width: 25%;
  overflow: hidden;
  position: relative;
  svg{
    rect {
      fill: $accent-color;
      transition: fill 300ms ease-in-out;
    }
  }
  span{
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    white-space: nowrap;
  }
}

main{
  @include flex_center();
  flex-direction: column;
  width: 80%;
  gap: 5vh;
  position: relative;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.img-decoration-top-left{
  position: absolute;
  top: 0;
  left: -15%;
  width: 30%;
  min-width: 300px;
  aspect-ratio: 1 / 1;
  background-image: linear-gradient(-35deg, $background-color-1 30%, rgba(255, 255, 255, 0)), url(./assets/image.png);
  @include set_bg_color("ac");
  z-index: -1;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main{
  width: 100%;
  height: auto;
  @include flex_center();
  flex-direction: column;
  @media screen and (max-width: 700px) {
    align-items: center;
  }
}
#home-greetings{
  @include flex_center();
  margin-top: 5%;
  text-align: center;
}
#home-gallery{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    width: 90%;
  }
}
.home-gallery-main{
  width: 100%;
  margin-top: 0.4%;
  transition: transform 0.5s ease-in-out;
}
.swiper-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.swiper-slide{
  min-width: 33.33%;
  aspect-ratio: 9 / 16;
  height: 100%;
  overflow: hidden;

  img{
      object-fit: fill;
      transition: transform 0.8s ease;
  
      &:hover{
          transform: scale(1.1);
      }
      &:active{
          transform: scale(1.1);
      }
      &:focus{
          transform: scale(1.1);
      }
  }
}
#home-text{
  width: 80%;
  @media screen and (max-width: 700px) {
    width: 90%;
  }
}
#home-mods{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 700px) {
    width: 90%;
  }
}
.home-mods-main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5%;

}
.home-mods-part{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 1%;
  &:hover{
      transform: scale(1.01);
      border-top: 1px solid $accent-color;
      border-bottom: 1px solid $accent-color;
  }
  &:active{
      transform: scale(1.01);
      border-top: 1px solid $accent-color;
      border-bottom: 1px solid $accent-color;
  }
  &:focus{
      transform: scale(1.01);
      border-top: 1px solid $accent-color;
      border-bottom: 1px solid $accent-color;
  }
  @media screen and (max-width: 1700px) {
    justify-content: center;
  }
}
.home-mods-part-text{
  width: 60%;
  min-width: 350px;
  flex-direction: column;
  @include flex_center();
  overflow: hidden;
  @include set_bg_color("bg3");
  &:hover, &:active, &:focus{
    @include set_bg_color("bg2");
    p{
      color: $text-color-1;
    }
  }
  @media screen and (max-width: 1400px) {
    padding:5% 0 0 0;
  }
  input{
    @include input_button_adjustable(30%, 15%, $accent-color, $background-color-2, 0.9em);
    font-size: calc(0.6em + 0.3vw);
    &:hover, &:active, &:focus{
      outline: 2px solid $accent-color;
      outline-offset: -2px;
      border: none;
    }

    @media screen and (max-width: 1700px) {
      border-radius: 3.5px;
      margin: 2.5% 0 7.5% 0;
      min-height: 15%;
    }
}
}
.home-mods-part-img{
  width: 40%;
  min-width: 350px;
  aspect-ratio: 16 / 9;

  img{
      object-fit: cover;
      transition: 0.5s;
      filter: grayscale(100%);
      &:hover{
          filter: grayscale(0);
      }
  }
}
#info-text{
  margin-top: 5%;
  text-align: center;
}
#info-text-main{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  flex-wrap: wrap;
  @media screen and (max-width: 1210px) {
    justify-content: center;
  }
}
.info-text-contacts{
  @include flex_center();
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
}
#info-text-logo{
  width: 50%;
  filter: drop-shadow(0 0 15px $background-color-2);
}
#info-map{
  width: 60%;
  height: auto;
  overflow: hidden;
  min-width: 400px;
  aspect-ratio: 1 / 1;
}

#news-text{
  margin: 5% 0;
}
.news-part{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  @include set_bg_color("bg3");
  gap: 0.5%;
}
.news-part-text{
  width: 60%;
  h3{
    padding: 3% 3% 0 3%;
  }
  p{
    padding: 2.5%;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
}
.news-part-img{
  width: 40%;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  img{
    width: 100%;
  }
  @media screen and (max-width: 1440px) {
    display: none;
  }
}
.news-buttons{
  @include flex_center();
  height: auto;
  input{
    @include input_button_adjustable(100%, 100%, $accent-color, $background-color-3, 0.9em);
    text-wrap: wrap;
    border-radius: 0;
    font-size: calc(0.6em + 0.3vw);
    &:hover, &:active, &:focus{
      outline: 2px solid $accent-color;
      outline-offset: -2px;
      border: none;
    }
  }
}

footer{
  margin-top: 10%;
  width: 100%;
  padding: 0.5% 0;
  flex-direction: column;
  @include flex_center();
  @include set_bg_color("bg2");
}
#footer-logo{
  filter: drop-shadow(0 0 15px $background-color-1);
}
.footer-nav-socialMedia-main{
  margin-top: 20%;
}