* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", serif;
  font-style: normal;
  font-weight: 200;
}

h1 {
  font-size: calc(2em + 3vw);
  color: white;
}

h2 {
  border-bottom: 4px solid rgb(220, 0, 0);
  width: 100%;
  font-size: calc(1.25em + 1.25vw);
  color: white;
}

h3 {
  padding: 1%;
  font-size: calc(0.9em + 0.7vw);
  color: white;
}

p {
  font-size: calc(0.7em + 0.2vw);
  color: rgb(180, 180, 180);
}

span {
  font-size: calc(0.8em + 0.2vw);
  color: white;
}

a {
  text-decoration: none;
  font-size: calc(0.8em + 0.2vw);
  color: white;
}

ul {
  list-style-type: none;
  color: rgb(180, 180, 180);
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 23, 23);
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

#header-img-main {
  height: 95%;
  background-image: linear-gradient(to top, rgb(68, 68, 68) 0.25%, rgba(255, 255, 255, 0)), url(./assets/header_fon.jpg);
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
}

#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6%;
  background-color: rgb(68, 68, 68);
}

.header-nav-button {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.header-nav-button svg rect {
  fill: rgb(220, 0, 0);
  transition: fill 300ms ease-in-out;
}
.header-nav-button span {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 5vh;
  position: relative;
}
@media screen and (max-width: 700px) {
  main {
    width: 100%;
  }
}

.img-decoration-top-left {
  position: absolute;
  top: 0;
  left: -15%;
  width: 30%;
  min-width: 300px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(-35deg, rgb(23, 23, 23) 30%, rgba(255, 255, 255, 0)), url(./assets/image.png);
  background-color: rgb(220, 0, 0);
  z-index: -1;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-decoration-bottom-right {
  position: absolute;
  right: -12.5%;
  bottom: -7.5%;
  min-width: 300px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(135deg, rgb(23, 23, 23) 30%, rgba(255, 255, 255, 0)), url(./assets/image.png);
  background-color: rgb(220, 0, 0);
  z-index: -1;
  width: 30%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .main {
    align-items: center;
  }
}

#home-greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  text-align: center;
}

#home-gallery {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  #home-gallery {
    width: 90%;
  }
}

.home-gallery-main {
  width: 100%;
  background-color: aliceblue;
  margin-top: 0.4%;
  transition: transform 0.5s ease-in-out;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.swiper-slide {
  min-width: 33.33%;
  aspect-ratio: 9/16;
  height: 100%;
  overflow: hidden;
}
.swiper-slide img {
  -o-object-fit: fill;
     object-fit: fill;
  transition: transform 0.8s ease;
}
.swiper-slide img:hover {
  transform: scale(1.1);
}
.swiper-slide img:active {
  transform: scale(1.1);
}
.swiper-slide img:focus {
  transform: scale(1.1);
}

#home-text {
  width: 80%;
}
@media screen and (max-width: 700px) {
  #home-text {
    width: 90%;
  }
}

#home-mods {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  #home-mods {
    width: 90%;
  }
}

.home-mods-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5%;
}

.home-mods-part {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 1%;
}
.home-mods-part:hover {
  transform: scale(1.01);
  border-top: 1px solid rgb(220, 0, 0);
  border-bottom: 1px solid rgb(220, 0, 0);
}
.home-mods-part:active {
  transform: scale(1.01);
  border-top: 1px solid rgb(220, 0, 0);
  border-bottom: 1px solid rgb(220, 0, 0);
}
.home-mods-part:focus {
  transform: scale(1.01);
  border-top: 1px solid rgb(220, 0, 0);
  border-bottom: 1px solid rgb(220, 0, 0);
}
@media screen and (max-width: 1700px) {
  .home-mods-part {
    justify-content: center;
  }
}

.home-mods-part-text {
  width: 60%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}
.home-mods-part-text:hover, .home-mods-part-text:active, .home-mods-part-text:focus {
  background-color: rgb(68, 68, 68);
}
.home-mods-part-text:hover p, .home-mods-part-text:active p, .home-mods-part-text:focus p {
  color: white;
}
@media screen and (max-width: 1400px) {
  .home-mods-part-text {
    padding: 5% 0 0 0;
  }
}
.home-mods-part-text input {
  background-color: rgb(220, 0, 0);
  width: 30%;
  height: 15%;
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
  font-size: calc(0.6em + 0.3vw);
}
.home-mods-part-text input:hover, .home-mods-part-text input:active, .home-mods-part-text input:focus {
  border: 2px solid rgb(220, 0, 0);
  background-color: rgb(68, 68, 68);
  color: white;
}
.home-mods-part-text input:hover, .home-mods-part-text input:active, .home-mods-part-text input:focus {
  outline: 2px solid rgb(220, 0, 0);
  outline-offset: -2px;
  border: none;
}
@media screen and (max-width: 1700px) {
  .home-mods-part-text input {
    border-radius: 3.5px;
    margin: 2.5% 0 7.5% 0;
    min-height: 15%;
  }
}

.home-mods-part-img {
  width: 40%;
  min-width: 350px;
  aspect-ratio: 16/9;
}
.home-mods-part-img img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  filter: grayscale(100%);
}
.home-mods-part-img img:hover {
  filter: grayscale(0);
}

#info-text {
  margin-top: 5%;
  text-align: center;
}

#info-text-main {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  flex-wrap: wrap;
}
@media screen and (max-width: 1210px) {
  #info-text-main {
    justify-content: center;
  }
}

.info-text-contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
}

#info-text-logo {
  width: 50%;
  filter: drop-shadow(0 0 15px rgb(68, 68, 68));
}

#info-map {
  width: 60%;
  height: auto;
  overflow: hidden;
  min-width: 400px;
  aspect-ratio: 1/1;
}

#news-text {
  margin: 5% 0;
}

.news-part {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  background-color: rgb(30, 30, 30);
  gap: 0.5%;
}

.news-part-text {
  width: 60%;
}
.news-part-text h3 {
  padding: 3% 3% 0 3%;
}
.news-part-text p {
  padding: 2.5%;
}
@media screen and (max-width: 1440px) {
  .news-part-text {
    width: 100%;
  }
}

.news-part-img {
  width: 40%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
}
.news-part-img img {
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .news-part-img {
    display: none;
  }
}

.news-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.news-buttons input {
  background-color: rgb(220, 0, 0);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
  text-wrap: wrap;
  border-radius: 0;
  font-size: calc(0.6em + 0.3vw);
}
.news-buttons input:hover, .news-buttons input:active, .news-buttons input:focus {
  border: 2px solid rgb(220, 0, 0);
  background-color: rgb(30, 30, 30);
  color: white;
}
.news-buttons input:hover, .news-buttons input:active, .news-buttons input:focus {
  outline: 2px solid rgb(220, 0, 0);
  outline-offset: -2px;
  border: none;
}

footer {
  margin-top: 10%;
  width: 100%;
  padding: 0.5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
}

#footer-logo {
  filter: drop-shadow(0 0 15px rgb(23, 23, 23));
}

.footer-nav-socialMedia-main {
  margin-top: 20%;
}/*# sourceMappingURL=style.css.map */